body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #de433f;
}

.head{
    position: relative;
    width: 215px;
    height: 405px;
    background-color: green;
}

.forehead{
    position: absolute;
    width: 170px;
    height: 200px;
    background-color: #fed90f;
    border:1px solid #000;
    top: 10px;
    border-radius: 60%/50%;
    transform: rotate(-18deg);
}

.hair1{
    position: absolute;
    width: 80px;
    height: 70px;
    border-top: 2px solid #000;
    top: 15px;
    border-radius: 50%;
    transform: rotate(-40%);
}

.hair2{
    position: absolute;
    width: 80px;
    height: 70px;
    border-top: 2px solid #000;
    left: 15px;
    border-radius: 50%;
    transform: rotate(-30%);
}

.r_eye{
    position: absolute;
    width: 75px;
    height: 75px;
    background-color: white;
    border: 1px solid #000;
    border-radius: 50%;
    top: 110px;
    left: 120px;
}

.pupil_right{
    position: absolute;
    width: 9px;
    height: 9px;
    background-color: #000;
    border-radius: 50%;
    left: 35px;
    top: 40px;
}

.l_eye{
    position: absolute;
    width: 75px;
    height: 75px;
    background-color: white;
    border: 1px solid #000;
    border-radius: 50%;
    top: 115px;
    left: 60px;
}

.pupil_left{
    position: absolute;
    width: 9px;
    height: 9px;
    background-color: #000;
    border-radius: 50%;
    left: 25px;
    top: 40px;
}